.brand {
  display: block;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    margin-top: 50px;
  }

  &__title {
    background: linear-gradient(450deg, #f8f8f8 0%, #ffffff 98.61%);
    border-top: 1px solid #d9fff5;
  }

  &__title-text {
    padding: 0 20px 20px;
    font-family: TT Lakes;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
  }

  &__list {
    display: none;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 10px;
      place-items: center;
      -webkit-mask: none;
    }

    @media (min-width: 1120px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__show-hide {
    display: none;
    margin: 20px;
    padding: 10px;
    border: none;
    background-color: var(--color-gray);
    cursor: pointer;
    font-family: TT Lakes;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition-duration: 0.3s;

    @media (min-width: 768px) {
      display: block;
    }

    &::before {
      display: inline-flex;
      width: 24px;
      height: 24px;
      content: '';
      background-image: url('../img/main/ic-expand.svg');
      background-repeat: no-repeat;
      background-position: 5px 13px;
    }

    &:hover {
      scale: 110%;
    }

    &.expanded::before {
      background-image: url('../img/main/ic-expand-up.svg');
      background-position: -3px 7px;
    }
  }

  &__swiper {
    padding-left: 20px;
  }

  &__card--hidden {
    display: none;
  }
}

.brand__swiper .swiper-slide {
  width: 240px;
}
