.card {
  display: flex;
  justify-content: space-between;
  min-width: 224px;
  height: 72px;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: var(--color-white);

  &__logo {
    display: block;
    align-self: center;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--lenovo {
      width: 108px;
      background-image: url('../img/main/lenovo.png');
    }

    &--samsung {
      width: 116px;
      background-image: url('../img/main/samsung.png');
    }

    &--apple {
      width: 44px;
      background-image: url('../img/main/apple.svg');
    }

    &--vievSonic {
      width: 128px;
      background-image: url('../img/main/VievSonic.svg');
    }

    &--bosch {
      width: 128px;
      background-image: url('../img/main/Bosch.svg');
    }

    &--hp {
      width: 52px;
      background-image: url('../img/main/HP.svg');
    }

    &--acer {
      width: 94px;
      background-image: url('../img/main/acer.png');
    }

    &--sony {
      width: 128px;
      background-image: url('../img/main/Sony.svg');
    }
  }
}

@media (max-width: 320px) {
  .card {
    width: 240px;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .card {
    display: flex;
    width: 224px;
  }

  .card:nth-child(n + 7) {
    display: none;
  }
}

@media (min-width: 1120px) {
  .card {
    display: flex;
    width: 240px;
  }

  .card:nth-child(n + 7) {
    display: flex;
  }

  .card:nth-child(n + 9) {
    display: none;
  }

  .brand__card--hidden {
    width: 240px;
  }
}

.brand__card--hidden {
  display: none;
  justify-content: space-between;
  min-width: 224px;
  height: 72px;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: var(--color-white);
}

.button-next {
  position: relative;
  top: 5px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-pink);
  border-radius: 20px;
  background-color: var(--color-white);
  background-image: url('../img/main/button-next.svg');
  background-repeat: no-repeat;
  background-position: center;
}
