.main {
  @media (min-width: 1120px) {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    background-color: var(--color-gray);

    @media (min-width: 1120px) {
      max-width: 1120px;
      margin-left: 320px;
      padding: 0 32px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding-top: 4px;

    @media (min-width: 1120px) {
      justify-content: space-between;
      width: 100%;
      padding-top: 20px;
      margin-left: -32px;
    }
  }

  &__heading {
    display: flex;
    align-items: center;

    @media (min-width: 1120px) {
      flex-shrink: 0;
    }
  }

  &__highlight {
    display: block;
    flex-shrink: 0;
    width: 4px;
    height: 40px;
    margin-right: 15px;
    border-radius: 0 7px 7px 0;
    background-image: url('../img/main/highlight.svg');
  }

  &__slide-menu {
    @media (max-width: 767px) {
      width: 100%;
    }

    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1120px) {
      margin-left: -24px;
    }
  }

  &__intro {
    @media (max-width: 767px) {
      width: 100%;
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      min-height: 208px;
    }

    @media (min-width: 1120px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      min-height: 315px;
    }
  }

  &__content {
    padding: 0 16px;

    @media (max-width: 767px) {
      width: 100%;
    }

    @media (min-width: 768px) {
      padding: 0 24px;
    }

    @media (min-width: 1120px) {
      padding: 0;
    }
  }

  &__content-text {
    font-family: TT Lakes;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;

    @media (max-width: 767px) {
      width: 100%;
      line-height: 18px;
    }

    @media (min-width: 768px) {
      width: 312px;
      line-height: 19px;
    }

    @media (min-width: 1120px) {
      width: 490px;
      min-height: 195px;
    }
  }

  &__text-content {
    overflow: hidden;
    margin-bottom: 10px;

    p {
      margin: 0 0 12px;
    }

    @media (max-width: 767px) {
      width: 288px;
      height: 90px;
    }

    @media (min-width: 768px) {
      width: 312px;
      height: 160px;
    }

    @media (min-width: 1120px) {
      width: 100%;
      min-height: 160px;
      margin-top: 10px;
    }
  }

  &__read-more {
    display: block;
    border: none;
    background-color: var(--color-gray);
    cursor: pointer;
    font-family: TT Lakes;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition-duration: 0.3s;

    &::before {
      display: inline-flex;
      width: 24px;
      height: 24px;
      content: '';
      background-image: url('../img/main/ic-expand.svg');
      background-repeat: no-repeat;
      background-position: 10px 13px;
    }

    &:hover {
      scale: 110%;
    }
  }

  &__logo {
    @media (max-width: 767px) {
      width: 320px;
    }

    @media (min-width: 768px) {
      width: 360px;
      height: 208px;
      margin-left: 40px;
    }

    @media (min-width: 1120px) {
      width: 530px;
      height: 307px;
    }
  }

  &__image {
    display: block;

    @media (max-width: 767px) {
      width: 320px;
      height: auto;
      margin-top: 16px;
      margin-bottom: 20px;
    }

    @media (min-width: 768px) {
      width: 360px;
      height: 208px;
      margin-top: 20px;
      border-radius: 5px;
    }

    @media (min-width: 1120px) {
      width: 500px;
      height: 307px;
    }
  }
}

// элементы button-form, используемые в main

.button-form {
  &__status--container-lg {
    @media (min-width: 1120px) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 24px;
      padding-right: 0;
      flex-shrink: 0;
      margin-top: 4px;
    }
  }

  &__label {
    @media (min-width: 1120px) {
      display: flex;
      align-items: center;
      gap: 8px;
      white-space: nowrap;
    }
  }
}
